<%= form_for(@league) do |f| %>
<table>
  <tr>
    <td> Name </td>
    <td> <%= f.text_field :name %> </td> 
  </tr>
  <tr>
    <td> Location </td>
    <td> <%= f.text_field :location %> </td> 
  </tr>
  <tr>
    <td> Start Date </td>
    <td> <%= f.date_field  :sdate %> </td> 
  </tr>
  <tr>
    <td> End Date </td>
    <td> <%= f.date_field :edate %> </td> 
  </tr>
  <tr>
    <td>  </td>
    <td> <%= f.submit %>  </td> 
  </tr>  
</table>
<% end %>